@import url('@utils/less_func.less');
.screen_box {

    width: 100vw;
    height: ~`vh('1020px') `;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .box{
        width: 50%;
        height: inherit
    }
    .code{
        border-left: 1px solid darkcyan;
        width:50%;
        height: inherit
    }
}
